@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loader {
    border-top-color: transparent;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 4px solid #cbd5e0; /* Tailwind gray-300 */
    border-top-color: #3b82f6; /* Tailwind blue-500 */
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
